/* Structure principale */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

    
}
html,body{
    height: 100%;
    width: 100%;
    font-family: fantasy;
    background-image: url(ivana-cajina-asuyh-_ZX54-unsplash.jpg);
    background-size: cover;
    cursor: url(icons8-fusée-48\ \(1\).png), auto;
}
main{
    box-sizing: border-box;
    display: flex;
    gap:2rem;
    padding: 5rem;
    height : 100%;
    justify-content: space-around;
}
/* Differentes sections */
main>:nth-child(1){
    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(4, 2, 143, 0.747) 80%, rgba(2, 83, 158, 0.37) 100%);
    border-radius: 25px;
    box-shadow: inset 0 0 10px rgb(252, 251, 251);
    box-shadow: rgb(85, 84, 84) 0 0 10px;
    
}
/* Section de CV */
img{
    border-radius: 25px;
}
/* Section d'infos */
main>:nth-child(3){
    display: none ;
    box-sizing: border-box; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(4, 2, 143, 0.747) 80%, rgba(2, 83, 158, 0.37) 100%);
    border-radius: 25px;
    box-shadow: inset 0 0 10px rgb(252, 251, 251);
    box-shadow: rgb(85, 84, 84) 0 0 10px;
    padding: 3rem;
    color : whitesmoke;
    
}

main>:nth-child(4){
    display: none ;
    box-sizing: border-box; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(4, 2, 143, 0.747) 80%, rgba(2, 83, 158, 0.37) 100%);
    border-radius: 25px;
    box-shadow: inset 0 0 10px rgb(252, 251, 251);
    box-shadow: rgb(85, 84, 84) 0 0 10px;
    padding: 3rem;
    color : whitesmoke;
}
main>:nth-child(5){
    display: none ;
    box-sizing: border-box; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(4, 2, 143, 0.747) 80%, rgba(2, 83, 158, 0.37) 100%);
    border-radius: 25px;
    box-shadow: inset 0 0 10px rgb(252, 251, 251);
    box-shadow: rgb(85, 84, 84) 0 0 10px;
    padding: 3rem;
    color : whitesmoke;
}

/* boutton de navigation */

button{
    box-sizing: border-box;
    width: 200px;
    padding : 1rem ;
    margin : 1rem 1rem ;
    border-radius: 1rem;
    box-shadow :rgb(252, 251, 251) 0 0 10px;
    background: radial-gradient(circle, rgba(4, 2, 143, 0.747) 70%, rgba(2, 83, 158, 0.37) 100%);
    color : aliceblue;
    font-family: fantasy;
    font-size: 1.3rem;
    border : none;
    transition: background-color 0.3s ease;

}
button:hover{
    background-color: rgb(103, 161, 214);
    cursor: url(icons8-fusée-48.png), auto;
    
}

/* Classes caché ou visible */
