@keyframes apparition{
    from{
        opacity: 0;
        transform : rotateX(0deg) ;
    }
    to{
        opacity: 1;
        transform: rotateX(20deg)rotateY(0deg);
    }
}
@keyframes twist{
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(360deg);
    }
}
@keyframes monter{
    from{
        transform: translateZ(0px);
    }
    to{
        transform: translateZ(80px)
    }
}
@keyframes textanim{
    from{ 
        transform:translateZ(0px);
  
    }
    to {
        transform: translateZ();
        
    }

}
@keyframes slide{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(300%);
    }
}
/* Fin des animations */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

    
}
html,body{
    height: 100%;
    width: 100%;
    font-family: fantasy;
    background-size: cover;
    overflow: hidden;
    cursor: url(icons8-fusée-48.png), auto;
    perspective: 1000px;
}
/* Gestion du fond video */
.video_background{
    position :absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
    z-index : -1 ;
}
/* Structure principale */
main{
    box-sizing: border-box;
    display: flex;
    gap:2rem;
    padding: 5rem;
    height : 100%;
    justify-content: space-around;
    perspective: 1000px;
}


/* Style géneral des card infos */
#experiences, #profil, #diplomes, #bonus{
    box-sizing: border-box; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(4, 2, 143, 0.747) 80%, rgba(2, 83, 158, 0.37) 100%);
    border-radius: 25px;
    box-shadow: rgb(1, 255, 255) 0 0 10px;
    padding: 0rem 1rem 1rem 1rem;
    color : whitesmoke;
    transform-style: preserve-3d;
    animation : 1s ease-in-out forwards apparition;

}
/*hover card_infos*/
#experiences:hover, #diplomes:hover , 
#bonus:hover , #profil:hover{
    animation: 1s ease-in-out forwards monter;
    
}
p{
    text-shadow: rgb(1, 255, 255) 0 0 10px;
    color: aqua ;
    font-size: 10px;
    font-family: stray;
}
p:hover{
    font-family: fantasy;
    font-size: 15px;
    animation:  1s ease-in-out forwards textanim;
    text-shadow: 2px 2px 4px rgba(243, 241, 241, 0.5);
    

}

/* Section profil */
article{
    display: flex;
    align-items: center;
    gap : 20px;
    transform-style: preserve-3d;
}
article > div:first-child{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.0rem;
    transform-style: preserve-3d;
    
}
img{
    margin-top: 10px;
    height: 200px;
    border-radius: 25px;
    box-shadow: rgb(1, 255, 255) 0 0 10px;
    
}
img:hover{
    transform: translateZ(60px) rotateY(360deg);
    transition: 1.5s ease;
}
h3{
    font-family : stray;
    text-shadow: rgb(1, 255, 255) 0 0 10px;
    color: aqua ;
    

}
h3:hover{
    transform: translateZ(60px);
    transition: 1s ease;

}
article>:nth-child(2){
    transform-style: preserve-3d;

}


/* Section bouton */
#boutons{
    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

button{
    box-sizing: border-box;
    width: 200px;
    padding : 1rem ;
    margin : 1rem 1rem ;
    border-radius: 1rem;
    box-shadow :rgb(252, 251, 251) 0 0 10px;
    background: radial-gradient(circle, rgba(4, 99, 187, 0.747) 70%, rgba(2, 83, 158, 0.37) 100%);
    color : aliceblue;
    font-family: stray;
    font-size: 1.1rem;
    border : none;
    transition: background-color 0.3s ease;

}
button:hover{
    background-color: rgb(103, 161, 214);
    font-family: fantasy;
    animation: 1s ease-in-out forwards twist;

    
}
.bouton.enfonce{
    transform : translateY(-10px);
    background-color: rgb(3, 10, 75);
    background: none;
}

/* Classes caché ou visible */
